@font-face {
    font-family: '8bit';
    src: url('./fonts/8_bit_fortress/8-bit fortress.ttf');
}

@font-face {
    font-family: 'pixel op';
    src: url(./fonts/pixel_operator/PixelOperator.ttf);
}
* {
    box-sizing: border-box;
    /* border: 1px solid red; */
    font-family: '8bit';
    margin: 0;
}

html {
    font-size: 16px;
}

body {
    background-color: #CEC4AB;
    color: #4D4A4B;
    width: 100%;
    text-align: center;
}

.sec-1 {
    display: flex;
    width: 100%;
    height: 250vh;
    justify-content: center;
    margin-bottom: 50px;
}

.thumbnails-container {
    max-width: 300px;
    height: 300px;
    flex-basis: 30%;
    border-radius: 32px;
    /* border: 8px solid #d7cfbd; */
    margin: 10px;
    overflow: hidden;
    color: #CEC4AB;
    position: sticky;
    top: calc(50% - 150px);
    box-shadow: 0px 10px #6f7075;
    text-align: right;
    vertical-align: center;
}

.thumbnail {
    width: 100%;
    height: 100%;
    background-color: #4D4A4B;
    transition: transform .8s ease-in-out;
    position: absolute;
}

.thumbnail .hello {
     padding-top: 25%;
}
.proj-th img{
    border: 10px solid #A1998E;
    border-radius: 24px;
}

.thumbnail img {
    width: 100%;
}

.cards-container {
    flex-basis: 70%;
    max-width: 650px;
    height: 300px;
    margin: 10px;
    border: 6px solid #6f7075;
    border-radius: 20px;
    overflow: hidden;
    position: sticky;
    top: calc(50% - 150px);
    box-shadow: 0px 10px #6f7075;
    background-color: #CEC4AB;
    text-align: center;
    vertical-align: top;
}

.card {
    width: 100%;
    height: 100%;
    background-color: #CEC4AB;
    position: absolute;
    top: 1rem;
    padding: 10px 20px;
    transition: transform .8s ease-in-out;
}

h1 {
    font-size: 8rem;
    line-height: 3.4rem;
    text-shadow: 0px 4px #A1998E;
}

h2 {
    font-size: 4rem;
    text-shadow: 0px 4px #A1998E;
}

h3 {
    font-size: 3rem;
    line-height: 2rem;
    text-shadow: 0px 2px #A1998E;
}

h4 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: 'pixel op';
}

p {
    font-family: 'pixel op';
}

#intro {
    margin-top: calc(50% - 200px);
}

.abt-me {
    font-size: 1.2rem;
}

#about-me, #skills{
    margin: 20px;
}

#projects {
    margin-top: calc(50% - 200px);
    font-size: 5.4rem;
}

.skills-grp {
    display: flex;
    justify-content: center;
    align-content: center;
}

.skills-grp img {
    width: 150px;
    height: 150px;
}

.proj-list {
    display: flex;
    justify-content: center;
    margin: 2rem;
    flex-wrap: wrap;
    flex-shrink: 3;
}

.proj-list div {
    flex-basis: 25%;
    height: 400px;
    max-height: 400px;
    margin: 2rem;
    padding: 40px 40px;
    background-color: #A1998E;
    border-radius: 30px;
    text-align: justify;
}

.sec-2 p {
    margin-top: 10%;
}

.sec-3 {
    margin: 4rem;
}

.form {
   position: relative;
   left: calc(50% - 225px);
   width: 50vh;
   margin-top: 4rem;
}

form {
    width: 100%;
    text-align: left;
    background-color: #4D4A4B;
    color: #CEC4AB;
    padding: 30px;
    line-height: 2.5rem;
}

footer {
    background-color: #4D4A4B;
    color: #A1998E;
    margin-bottom: 0;
    height: 4rem;
    padding: 1.8rem;
}