@font-face {
    font-family: '8bit';
    src: url('./fonts/8_bit_fortress/8-bit fortress.ttf');
}

@font-face {
    font-family: 'pixel op';
    src: url(./fonts/pixel_operator/PixelOperator.ttf);
}
* {
    box-sizing: border-box;
    /* border: 1px solid red; */
    font-family: '8bit';
}

html {
    font-size: 16px;
}

body {
    background-color: #CEC4AB;
    color: #4D4A4B;
    width: 100%;
}

.sec-1 {
    display: flex;
    width: 100%;
    height: 400vh;
    justify-content: center;
}

.thumbnails-container {
    max-width: 300px;
    height: 300px;
    flex-basis: 30%;
    border-radius: 20px;
    border: 6px solid #CEC4AB;
    margin: 10px;
    overflow: hidden;
    color: #CEC4AB;
    position: sticky;
    top: calc(50% - 150px);
    box-shadow: 0px 10px #6f7075;
    text-align: right;
    vertical-align: center;
}

.thumbnail {
    width: 100%;
    height: 100%;
    background-color: #4D4A4B;
    transition: transform .8s ease-in-out;
    position: absolute;
}

.thumbnail img {
    width: 100%;
}

.cards-container {
    flex-basis: 70%;
    max-width: 650px;
    height: 300px;
    margin: 10px;
    border: 6px solid #CEC4AB;
    border-radius: 20px;
    overflow: hidden;
    position: sticky;
    top: calc(50% - 150px);
    box-shadow: 0px 10px #6f7075;
    background-color: #A1998E;
    text-align: center;
    vertical-align: top;
}

.card {
    width: 100%;
    height: 100%;
    background-color: #A1998E;
    position: absolute;
    top: 1rem;
    padding: 10px 20px;
    transition: transform .8s ease-in-out;
}

h1 {
    font-size: 8rem;
    line-height: 3.4rem;
}

h2 {
    font-size: 4rem;
    line-height: 4rem;
}

h3 {
    font-size: 3rem;
    line-height: 2rem;
}

h4 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: 'pixel op';
}

p {
    font-family: 'pixel op';
}

.abt-me {
    font-size: 1.2rem;
}

#about-me {
    margin: 20px;
}